.box {
  width: 100px;
  height: 100px;
  position: absolute;
}

.box-one {
  color: lightcoral;
  top: 0;
  left: 0;
}

.box-two {
  color: lightblue;
  top: 0;
  right: 0;
}

.box-three {
  color: lightgreen;
  bottom: 0;
  left: 0;
}

.box-four {
  color: lightgoldenrodyellow;
  bottom: 0;
  right: 0;
}
